
ErrorDocument 400 https://luisweb.cf
ErrorDocument 401 https://luisweb.cf
ErrorDocument 403 https://luisweb.cf
ErrorDocument 404 https://luisweb.cf/error$/404
ErrorDocument 503 https://luisweb.cf
php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone America/New_York
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.luisweb.cf/$1 [L,R=301]
